.fileUpload {
  //   height: 50%;
  @include flexCenter;
  margin: 100px 0;
  margin-bottom: 20px;
}

.btn {
  width: fit-content;
  margin: auto;
  text-align: center;
  small {
    display: block;
    font-size: 12px;
    color: $color-text-disabled;
  }

  p {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    color: $color-text-secondary;
    cursor: pointer;
    &:hover {
      color: $color-text-primary;
    }
  }
}
